{% extends "base.html" %}

{% block content %}

<div class="card p-4 mx-auto" style="max-width:600px;">
<h2 class="text-center">Book Appointment</h2>

<form method="POST">

<div class="mb-3">
<input class="form-control" name="name" placeholder="Your Name" required>
</div>

<div class="mb-3">
<input class="form-control" name="phone" placeholder="Phone" required>
</div>

<div class="mb-3">
<input class="form-control" name="email" placeholder="Email">
</div>

<div class="mb-3">
<select class="form-control" name="service">
<option>--Choose Option--</option>
<option>Income Certificate</option>
<option>PAN</option>
<option>Domocile</option>
<option>EWS Certificate</option>
<option>Senior Citizen</option>
<option>Non Creamy Layer</option>
<option>Affidavit</option>
<option>Birth Certificate</option>
<option>Death Certificate</option>
</select>
</div>

<div class="mb-3">
<input type="date" class="form-control" name="date" required>
</div>

<div class="mb-3">
<textarea class="form-control" name="message" placeholder="Your message"></textarea>
</div>

<button class="btn btn-primary w-100">Submit</button>
</form>
</div>

{% endblock %}
