{% extends "base.html" %}

{% block content %}

<div class="card p-4">
<h2>Income Certificate Services</h2>
<ul>
<li>Required: Documents </li>
<ul>
<li>Aadhar Card</li>
<li>Pan Card</li>
<li>Ration Card</li>
<li>Light Bill</li>
<li>Passport size Photo</li>
</ul>

<li>Process: Visit Our CSC Centre</li>
</ul>

<a href="/contact" class="btn btn-secondary" style="background-color: blue; " >Book Appointment</a>

<a href="/" class="btn btn-secondary">Back</a>
</div>

{% endblock %}
