{% extends "base.html" %}

{% block content %}

<div class="hero text-center mb-4">
<h1>Aaple Sarkar Seva Kendra</h1>
<h3>(World Mobile Centre)</h3>
<p>📍 Jogeshwari west | 📞 7021020629 | ⏰ 9AM - 6PM</p>
</div>

<h3 class="text-center mb-4">Our Services</h3>

<div class="row text-center">

<div class="col-md-4 mb-3">
<a href="/income" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Income Certificate</h5>
<p>Apply for Income Certificate</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/pan" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>PAN Card</h5>
<p>New PAN & Corrections</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/domocile" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Domocile</h5>
<p>Apply for Domocile</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/EWS" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>EWS Certificate</h5>
<p>Apply for Caste Certificate</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/senior" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Senior Citizen Certificate</h5>
<p>Apply for Senior Citizen Certificate</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/non-creamy-layer" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Non Creamy Layer</h5>
<p>Apply Non Creamy Layer</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/affidavit" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Affidavit</h5>
<p>Apply for Affidavit</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/birth" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Birth Certificate</h5>
<p>Apply for Birt Certificate</p>
</div>
</a>
</div>

<div class="col-md-4 mb-3">
<a href="/death" style="text-decoration:none;">
<div class="card p-4">
<h1>📄</h1>
<h5>Death Certificate</h5>
<p>Apply for Death Certificate</p>
</div>
</a>
</div>



</div>

<div class="text-center mt-4">
<a href="/contact" class="btn btn-primary btn-lg">Book Appointment</a>
</div>

{% endblock %}
